body {
    background: url('/assets/img/grid-tile.png') center top repeat;
}

a[rel=popover]  {
    border-bottom: 1px dotted #999;
    cursor: help;
    text-decoration: none;
}

header {
	h1 {
		font-size: 3em;
		line-height: 1.5em;
	}

	div {
		float: right;
		padding-top: 20px;
	}
}

article {
	header {
		ul {
			list-style: none outside none;
			margin: 0 0 12px 0;

			li {
				color: #666;
				display: inline-block;
				font-size: 0.875em;
				padding-left: 10px;

				i {
					margin-top: 1px;
					padding-right: 4px;
				}
			}
		}
	}
    
    img {
        margin: 10px auto;               
    }
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4, h5, h6 {
	font-size: 1em;
    padding: 0 0 0.5em 0;
}

i { /* Twitter Bootstrap icon class */
	margin-top: 3px;
}

hr	{
	margin: 5px 0;
}

footer {
	p {
		font-size: .8125em;
	}
}