@media (max-width: 767px){
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 979px){
	.navbar {
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
    }
}

@media (min-width: 980px){
	.navbar {
		.container {
			width: 1170px;
		}
	}
}