#header > #rss {
    float: right;
    padding-top: 6px;    
}

#nav li {
    &:before {
        content: "";
    }
}

.btn-primary {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(top, #FBB450, #F89406);
    background-image: -ms-linear-gradient(top, #FBB450, #F89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
    background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
    background-image: -o-linear-gradient(top, #FBB450, #F89406);
    background-image: linear-gradient(top, #FBB450, #F89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
    border-color: #F89406 #F89406 #AD6704;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

    &:hover, &:active, .active, .disabled, &[disabled] {
        background-color: #F89406;
    }
}