#header > #rss {
    float: right;
    padding-top: 6px;    
}

#nav li {
    &:before {
        content: "";
    }
}

.btn-primary {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(center top , #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    &:hover, &:active, .active, .disabled, &[disabled] {
        background-color: #F89406;
    }
}