					<div class="sidebar">
						<h3><span class="slash">//</span> Recent Posts</h3>
						<ul>
							{% for post in site.posts limit:4 %}
								<li><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }} | {{ site.name }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
                        
                        <h3><span class="slash">//</span> Categories</h3>
                        <ul>
                            <li><a href="/blog/tag/case%20study/" rel="bookmark" title="Case Studies | Min-Maxing">Case Studies</a></li>
                            <li><a href="/blog/tag/data%20warehouse/" rel="bookmark" title="Data Warehouse Articles | Min-Maxing">Data Warehouse</a></li>                           
                            <li><a href="/blog/tag/email/" rel="bookmark" title="Articles about Email | Min-Maxing">Email</a></li>
                            <li><a href="/blog/tag/google%20analytics/" rel="bookmark" title="Google Analytics Articles | Min-Maxing">Google Analytics</a></li>
                            <li><a href="/blog/tag/marketing/" rel="bookmark" title="Marketing Articles | Min-Maxing">Marketing</a></li>                                                        
                        </ul>

						<h3><span class="slash">//</span> About Me</h3>
						<p>I'm passionate about:</p>
						<ul>
						 	<li><strong>web sites</strong> and elegant user experiences</li>
						 	<li><strong>analytics</strong> and finding actionable insights</li>
						 	<li><strong>teaching others</strong> how to improve</li>
						 	<li><strong>gaming</strong> in both video and analog forms</li>
                            <li><strong>min-maxing</strong> everything</li>
						</ul>
						<p>I follow these pursuits in both my career and personal life. This site is the result.</p>
					</div>
