					<div class="sidebar">
						<h3><span class="slash">//</span> Recent Posts</h3>
						<ul>
							{% for post in site.posts limit:4 %}
								<li><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }} | {{ site.name }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>

						<h3><span class="slash">//</span> About Me</h3>
						<p>I'm passionate about:</p>
						<ul>
						 	<li><strong>web sites</strong> and elegant user experiences</li>
						 	<li><strong>analytics</strong> and finding actionable insights</li>
						 	<li><strong>teaching others</strong> how to improve</li>
						 	<li><strong>gaming</strong> in both video and analog forms</li>
                            <li><strong>min-maxing</strong> everything</li>
						</ul>
						<p>I follow these pursuits in both my career and personal life. This site is the result.</p>
					</div>
