#header > #rss {
  float: right;
  padding-top: 6px; }

#nav li:before {
  content: ""; }

.btn-primary {
  background-color: #FAA732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #F89406 #F89406 #AD6704;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .btn-primary:hover, .btn-primary:active, .btn-primary .active, .btn-primary .disabled, .btn-primary[disabled] {
    background-color: #F89406; }

#disqus_thread {
  padding-top: 10px; }
