---
layout: blog
title: Min-Maxing Blog
canonical: /blog/
---

			{% for post in paginator.posts %}
			<article>
				<header>
					<h2>
						<a href="{{ post.url }}" rel="bookmark" title="{{ post.title }} | {{ site.name }}">{{ post.title }}</a>
					</h2>
					<ul>
						<li><i class="icon-calendar"></i><time datetime="{{ post.date | date: '%Y' }}-{{ post.date | date: '%m' }}-{{ post.date | date: '%d' }}" pubdate="pubdate">{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</time></li>
						<li><i class="icon-tags"></i>
						{% for tag in post.tags %}
							{% if forloop.last %}
								<a href="{{ site.tag_dir }}{{tag}}" title="Posts tagged '{{tag}}' | {{site.name}}">{{ tag }}</a>
							{% else %}
								<a href="{{ site.tag_dir }}{{tag}}" title="Posts tagged '{{tag}}' | {{site.name}}">{{ tag }}</a>,
							{% endif %}
						{% endfor %}
						</li>
					</ul>
				</header>

				<p>{{ post.teaser }}</p>

				<a class="btn btn-primary" href="{{ post.url }}" rel="bookmark" title="{{ post.title }} | {{ site.name }}">Read More <i class="icon-chevron-right icon-white"></i></a>
			</article>

			<hr class="row-divider">

			{% endfor %}

			<ul class="pager">
			{% if paginator.previous_page %}
				{% if paginator.page > 2 %}
		    		<li class="previous"><a href="/blog/page-{{paginator.previous_page}}">&larr; Newer</a></li>
		    	{% else %}
					<li class="previous"><a href="/blog/">&larr; Newer</a></li>
		    	{% endif %}
			{% else %}
				<li class="previous disabled"><a href="/blog/">&larr; Newer</a></li>
			{% endif %}
		  
			{% if paginator.next_page %}
		 		<li class="next"><a href="/blog/page-{{paginator.next_page}}">Older &rarr;</a></li>
		  	{% else %}
		    	<li class="next disabled"><a href="/blog/">Older &rarr;</a></li>
		  	{% endif %}
		  	</ul>