---
category: blog
---
{% include header.html %}
			
			<article>
				<header>
					<h1>{{ page.title }}</h1>
					<hr/>
					<ul>
						<li><i class="icon-calendar"></i><time datetime="{{ page.date | date: '%Y' }}-{{ page.date | date: '%m' }}-{{ page.date | date: '%d' }}" pubdate="pubdate">{{ page.date | date: '%B' }} {{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }}</time></li>
						<li><i class="icon-tags"></i>
						{% for tag in page.tags %}
							{% if forloop.last %}
								<a href="{{ site.tag_dir }}{{tag}}" title="Posts tagged '{{tag}}' | {{site.name}}">{{ tag }}</a>
							{% else %}
								<a href="{{ site.tag_dir }}{{tag}}" title="Posts tagged '{{tag}}' | {{site.name}}">{{ tag }}</a>,
							{% endif %}
						{% endfor %}
						</li>
					</ul>
				</header>

				{{content}}

				<hr/>

				<div id="disqus_thread"></div>
				<script type="text/javascript">
					var disqus_shortname = 'minmaxing';

		            (function() {
		                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		            })();
		        </script>
		        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>				
                
                <footer>
                    <hr/>
                    <h2>If you liked this article, you may want to:</h2>                    
                    <ul>                    
                        <li>Read other articles with similar tags:
                            <ul>
						{% for tag in page.tags %}    
							<li><a href="{{ site.tag_dir }}{{tag}}" title="Posts tagged '{{tag}}' | {{site.name}}">{{ tag }}</a></li>
						{% endfor %}
                            </ul>
                        </li>
                        <li><a href="http://feeds.feedburner.com/min-maxing"><img src="/assets/img/rss-16.png" alt="Subscribe to the Min-Maxing blog RSS feed." title="Subscribe to the Min-Maxing blog RSS feed."/></a> <a href="http://feeds.feedburner.com/min-maxing">Subscribe to the RSS feed</a></li>                        
                    </ul>
                </footer>
			</article>

{% include footer.html %}
